@font-face {
    font-family: 'Lufga Black';
    src: url('../fonts/Fontspring-DEMO-lufga-black.otf') format('opentype');
}

@font-face {
    font-family: 'Lufga Medium';
    src: url('../fonts/Fontspring-DEMO-lufga-medium.otf') format('opentype');
}

@font-face {
    font-family: 'Lufga Light';
    src: url('../fonts/Fontspring-DEMO-lufga-light.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #050505;
    color: #FFFAF5;
    font-family: 'Lufga Medium', sans-serif;
}

.video-container {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    /* overflow: hidden; */
}
.video-container video {
    /* Cover the entire container */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure aspect ratio is maintained */
}
.content {
    position: relative;
    z-index: 5; /* Make sure content is above the video */
}

.schlager-logo {
    width: 80px;
}
/* 
.schlager-navbar {
    background-color: #171717;
    padding: 0px 20px;
    border-radius: 60px;
    border: 3px solid transparent;
    border-image-source: linear-gradient(250.12deg, #593314 36.72%, #FCF120 52.61%, #8A01A0 66.83%, #0B926A 78.54%, #2FA5ED 91.92%, #F01C1A 104.04%, #FB72FF 117.42%);
    border-image-slice: 1;
    border-image-repeat: stretch;
} */

.schlager-navbar {
    position: relative; /* Required for absolute positioning of pseudo-element */
    background-color: #171717;
    padding: 10px 20px;
    border-radius: 60px; /* Rounded corners */
}

.schlager-navbar::before {
    content: '';
    position: absolute;
    top: -5px; left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 60px;
    z-index: -1;
    /* Gradient applied as a background */
    background: linear-gradient(250.12deg, #593314 36.72%, #FCF120 52.61%, #8A01A0 66.83%, #0B926A 78.54%, #2FA5ED 91.92%, #F01C1A 104.04%, #FB72FF 117.42%);
    background-size: 120% 120%;
}

.schlager-nav-item {
    font-family: 'Lufga Medium', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 26px;
    padding: 20px 40px;
    border-radius: 60px;
}

.schlager-nav-item:hover {
    color: white;
    background-color: #FD853A;
    transition-duration: 300ms
}

.main-title {
    font-size: 72px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
}

.text-yellow {
    color: #EFE220;
}

.ad-space {
    width: 160px;
    background-color: white;
}

.schlager-carousel-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 5px;
}

.carousel-container {
    width: 100%;
    max-width: 100vw;
}

.swiper {
    height: 400px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 300px;
    border-radius: 60px;
}

.swiper-slide img {
    display: block;
    object-fit: contain;
    width: 100%;
    border-radius: 60px;

}


.swiper-pagination-bullet {
    margin-top: 30px;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 12px;
    opacity: 1;
    background: #E4E7EC;
}

.swiper-pagination-bullet-active {
    transition-duration: 100ms;
    height: 15px;
    width: 60px;
    border-radius: 20px;
    background: #FD853A;
}

.swiper-button-prev {
    margin-top: -100px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #344054;
    border: 3px solid #FFFFFF
}

.swiper-button-prev::after {
    content: "\276E";
    font-size: 30px;
    color: #FFFFFF;
}

.swiper-button-next {
    margin-top: -100px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #344054;
    border: 3px solid #FFFFFF
}

.swiper-button-next::after {
    content: "\276F";
    font-size: 30px;
    color: #FFFFFF;
}


.horizontal-ad-space {
    width: 1000px;
    height: 100px;
    background-color: white;
}

.btn-orange {
    font-family: 'Lufga Medium', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 26px;
    padding: 20px 40px;
    border-radius: 60px;
    background-color: #FD853A;
    transition-duration: 300ms;
    border : none;
}

.am-radar-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.am-radar-container {
    background-image: linear-gradient(180deg, #03933E 0%, rgba(253, 133, 58, 0.18) 100%);
    padding: 80px 60px;
    border-radius: 50px;
}

.neue-musik-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.neue-musik-container {
    padding: 80px 120px;
}

.fashion-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fashion-container {
    padding: 80px 120px;
}

.schlager-card > .image-container {
    position: relative;
    width: 100%;
    height: 420px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition-duration: 300ms;
}

.schlager-card > .image-container:hover {
    box-shadow: inset 0 -120px 80px -10px rgba(0,0,0,0.5);
}

.schlager-card > .image-container > .overlay-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #FFCC00;
    border: none;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.schlager-card > .image-container > .overlay-button:hover {
    background-color: #E6B800;
}

.schlager-card > .card-content > .card-date {
    margin-top: 14px;
    font-size: 20px;
    font-family: 'Lufga Light', sans-serif;
    display: flex;
    align-items: center;
}

.schlager-card > .card-content > .card-date > .date-item {
    margin-left: 4px;
}

.schlager-card > .card-content > .card-title {
    margin-top: 14px;
    font-size: 28px;
    font-weight: 600;
    line-height: 36.54px;
    text-align: left;
}

.schlager-card > .card-content > .card-subtitle {
    margin-top: 14px;
    font-family: 'Inter', 'Lufga Light', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.neue-musik-card{
    position: relative;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: inset 0 -100px 40px -10px rgba(0,0,0,0.5);
    cursor: pointer;
    transition-duration: 300ms;
}

.neue-musik-card:hover {
    box-shadow: inset 0 -120px 80px -10px rgba(0,0,0,0.5);
}

.neue-musik-card > .neue-musik-card-content > .overlay-button {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-property: 10px;
    background-color: transparent;
    border: 1px solid #FD853A;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.neue-musik-card > .neue-musik-card-content > .overlay-button:hover {
    background-color: white;
}

.neue-musik-card > .neue-musik-card-content > .overlay-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: 'Lufga Medium';
    font-size: 26px;
    font-weight: 700;
    text-align: left;
}

.schlager-der-woche-container {
    background-color: #222222;
    padding: 40px 0;
}

.schlager-der-woche-title {
    margin-left: 120px;
}

.sdw-content {
    display: flex;
}

.sdw-left-content {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.sdw-news-list {
    padding: 20px;
}

.sdw-ad-space {
    width: 25%;
}

.sdw-list-item {
    background-color: #222;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 3px solid #FD853A;
}

.date-label {
    font-size: 0.8em;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.headline {
    margin: 0;
    font-size: 18px;
}

.sdw-main-image {
    width: 70%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.sdw-image-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px 80px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    font-family: 'Lufga Medium';
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    border-radius: 0px 0px 12px 0;
}

.sdw-date {
    font-family: 'Lufga Light';
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sdw-title {
    font-size: 32px;
    font-weight: 700;
}

.sdw-ad-space {
    display: flex;
    justify-content: center;
}

.sdw-ad-space > .ad-space {
    width: 70%;
    height: 100%;
    background-color: white;
}

.schlager-fashion-card > .image-container {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    transition-duration: 300ms;
}


.schlager-fashion-card > .image-container:hover {
    box-shadow: inset 0 -120px 80px -10px rgba(0,0,0,0.5);
}

.schlager-fashion-card > .image-container > .overlay-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #FFCC00;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.schlager-fashion-card > .image-container > .overlay-button:hover {
    background-color: #E6B800;
}

.schlager-fashion-card > .card-content > .card-date {
    margin-top: 14px;
    font-size: 14px;
    font-family: 'Lufga Light', sans-serif;
    display: flex;
    align-items: center;
}

.schlager-fashion-card > .card-content > .card-date > .date-item {
    margin-left: 4px;
}

.schlager-fashion-card > .card-content > .card-title {
    margin-top: 14px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.88px;
    text-align: left;
}

footer {
    padding: 80px 120px 0px 120px;
    background-color: #171717;
}

.footer-links {
    padding-bottom: 60px;
    border-bottom: 2px solid #475467
}

.footer-link-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
}

.footer-image {
    width: 80px;
    height: 80px;
}

.footer-main-content {
    padding: 60px 0;
    border-bottom: 2px solid #475467
}

.footer-description {
    font-family: 'Lufga Light';
    font-size: 24px;
}

.social-media-list a{
    text-decoration: none;
    font-style: normal;
    color: white;
}

.footer-small-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    color: #FFD526;
    margin-bottom: 20px;
}

.footer-nav-list {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav-item {
    font-family: 'Lufga Light';
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
}

.send-btn {
    background-color: #FD853A;
    transition-duration: 300ms;
    border : none;
}

.input-group {
    max-width: 500px; /* Adjust width as necessary */
    margin: auto;

}

.input-group-text {
    border: 1px solid #FD853A;
}

.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none; /* Removes Bootstrap's default box-shadow */
    border: 1px solid white;
}

.bg-orange {
    background-color: #FD853A;
}

.form-control::placeholder {
    color: black; /* Lighter placeholder text */
}

.copyright-section {
    padding: 80px 0 0 0 ;
    font-family: 'Lufga Light';
}

.footer-links {
    justify-content: space-between;
}

.footer-navigation-button {
    display: none;
    padding: 10px 20px 10px 20px;
    border-radius: 60px;
    background-color: transparent;
    border: 1px solid white;
    color: #FFD526;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .ad-space {
        display: none;
    }

    .horizontal-ad-space {
        display: none;
    }

    .schlager-nav-item {
        font-size: 16px;
        padding: 8px 14px;
    }

    .footer-link-title {
        font-size: 32px;
    }

    .footer-btn {
        display: none;
    }

    .main-title {
        font-size: 42px;
    }

    .swiper {
        height: 300px;
    }

        
    .neue-musik-card{
        box-shadow: inset 0 -150px 40px -10px rgba(0,0,0,0.5);
    }

    .neue-musik-card:hover {
        box-shadow: inset 0 -180px 80px -10px rgba(0,0,0,0.5);
    }

    .sdw-ad-space {
        display: none;
    }

    .sdw-content {
        justify-content: center;
    }

    .neue-musik-container {
        padding: 80px 60px;
    }

    .sdw-left-content {
        width: 100%;
        flex-direction: column;
    }

    .sdw-main-image {
        width: 100%;
        height: 600px;
    }

    .schlager-der-woche-title {
        margin: 0;
        text-align: center;
    }

    .sdw-title {
        font-size: 32px;
        font-weight: 700;
    }

    .schlager-der-woche-container {
        padding: 80px 60px;
    }

    .sdw-image-overlay {
        border-radius: 12px;
    }

    .radio-cards {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .fashion-cards {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .fashion-container {
        padding: 80px 60px;
    }

    footer {
        padding: 80px 60px;
    }

    .footer-links {
        justify-content: center;
    }

    .copyright-section  {
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .schlager-nav-item {
        display: none;
    }

    .sdw-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 22.59px;
    }

    .footer-small-title {
        display: none;
    }

    .footer-nav-list {
        display: none;
    }

    .footer-navigation-button {
        display: flex;
    }

}